@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;700&display=swap");

* {
  box-sizing: border-box;
}

body {
  background-color: #333;
  color: #222;
  font-family: "Lato", sans-serif;
  margin: 0;
  overflow-x: hidden;
}

.container {
    background-color: #fafafa;
}
